@page
@{
    ViewData["Title"] = "Before Register";
}

<div class="mt-150 mb-200">

    <h1 style="text-align:center">I am a</h1>
    <div style="text-align:center">

    <a class="genric-btn danger-border circle arrow e-large" asp-area="Identity" asp-page="/Account/RegisterWorker">Worker<span class="lnr lnr-arrow-right"></span></a>
    <a class="genric-btn danger-border circle arrow e-large" asp-area="Identity" asp-page="/Account/RegisterCompany">Company<span class="lnr lnr-arrow-right"></span></a>
    </div>

</div>