@model JobPortal.Web.ViewModels.Worker.WorkerViewModel

<p>@Model.FirstName @Model.LastName</p>

<a asp-controller="Workers" asp-action="GetById" asp-route-workerId="@candidate.CandidateId">Invite to interview!</a>