@model JobPortal.Web.ViewModels.JobPost.JobPostCreateViewModel

<div class="col-lg-8 col-md-8">
    <h3 class="mb-30">Form Element</h3>
    <form method="post" asp-action="Create">
        <div class="mt-10">
            <input asp-for="PositionName" type="text" name="PositionName" placeholder="Position name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'PositionName'" required="" class="single-input">
        </div>
        <div class="mt-10">
            <textarea asp-for="CompanyDescription" class="single-textarea" placeholder="Company description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'CompanyDescription'" required=""></textarea>
        </div>
        <div class="mt-10">
            <textarea asp-for="JobResponsibilities" class="single-textarea" placeholder="Job responsibilities" onfocus="this.placeholder = ''" onblur="this.placeholder = 'JobResponsibilities'" required=""></textarea>
        </div>
        <div class="mt-10">
            <textarea asp-for="CompanyLogo" class="single-textarea" placeholder="Company logo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'CompanyLogo'" required=""></textarea>
        </div>
        <div class="mt-10">
            <textarea asp-for="JobRequirements" class="single-textarea" placeholder="Job requirements" onfocus="this.placeholder = ''" onblur="this.placeholder = 'JobRequirements'" required=""></textarea>
        </div>
        <div class="mt-10">
            <textarea asp-for="Benefits" class="single-textarea" placeholder="Benefits" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Benefits'" required=""></textarea>
        </div>
        <div class="mt-10">
            <label asp-for="ApplicationDate"></label>
            <input asp-for="ApplicationDate" type="date" name="ApplicationDate" placeholder="Application date" required="" class="single-input" value="mm/dd/yyyy">
        </div>
        <div class="mt-10">
            <label asp-for="StartingDate"></label>
            <input asp-for="StartingDate" type="date" name="StartingDate" placeholder="Starting date" required="" class="single-input" value="mm/dd/yyyy">
        </div>
        <div class="input-group-icon mt-10">
            <div class="icon">
                <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <div class="form-select" id="default-select" "=" " ">
                <select asp-for="Location" style="display: none;">
                    <option value="Sofia">Sofia</option>
                    <option value="Plovdiv">Plovdiv</option>
                    <option value="Varna">Varna</option>
                    <option value="Burgas">Burgas</option>
                    <option value="Stara Zagora">Stara Zagora</option>
                </select>
                <div class="nice-select" tabindex="0">
                    <span class="current">City</span>
                    <ul class="list">
                        <li data-value="Sofia" class="option selected">Sofia</li>
                        <li data-value="Plovdiv" class="option">Plovdiv</li>
                        <li data-value="Varna" class="option">Varna</li>
                        <li data-value="Burgas" class="option">Burgas</li>
                        <li data-value="Stara Zagora" class="option">Stara Zagora</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-10 text-center">
            <input class="genric-btn success circle center" type="submit" />
        </div>
    </form>
</div>