@model ICollection<JobPortal.Data.Models.JobPost>;

@foreach (var item in Model)
{
    <p>@item.PositionName</p>
    @foreach (var candidate in item.Candidates)
    {
        <p>Candidate -> @candidate.Candidate.FirstName @candidate.Candidate.LastName - @candidate.Candidate.Email</p>
    }

}